/*===========================
        common CSS
===========================*/

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px; 
    margin: 10px auto;
    transition: transform 0.3s;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
} 


/*===========================
        Index page CSS
===========================*/

.mainbox {
    margin-top: 50px;
}

.panel-body {
    padding-top:30px;
}

#apply-button {
    text-align:center;
}


/*===============================
This media query is applied when
user screen is greter than 768px
===============================*/

@media screen and (min-width:768px) {
    
    #workshop {
        height: 450px;
    }
} 

/*===========================
        Login page CSS
===========================*/

#login-alert {
    display:none;
}

.input-group {
    margin-bottom: 25px;
}

#login-button {
    margin-top:10px;
}

#ac-create {
    border-top: 1px solid#888;
    padding-top:15px;
    font-size:85%;
}

#ac-login {
    float:right;
    font-size: 85%;
    position: relative;
    top:-10px;
}

#signupalert {
    display:none;
}

/*===========================
        dashboard page CSS
===========================*/

#head {
    text-align:center;
    margin: 50px;
}
